html { height:100%;
}

h1 { font-family: Lucida, serif;
}

h2 { font-family: Lucida, serif;
}

body { font-family: Georgia, serif;
font-size: 1em ;
background-image: linear-gradient(to bottom right, #ffffff, #e08bfc, #ff82ea);
} 

iframe {
   width: 300px;
   border: 5px solid lightcyan;
   padding: 10px;
   margin: 10px auto;
   
}

footer { font-size: 50%;
}